@background: #24262d;
@nav-background: #2a2d35;
@text-background: #393b45;

body {
  background: @background;
}

.navigation {
  background: @nav-background;
  .negativemargin;
}

.content {
  background: @text-background;
  color: white;
  .negativemargin;
}

.ui.grid>.row>.white.column {
  background-color: #fff!important;
  color: #000;
  .negativemargin;
}

.negativemargin {
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.narrow {
  font-weight: 100;
  font-size: 90%;
}

.topfixed .row {
  border: none !important;
}

.fullheight {
  min-height: 100%;
}

.fullheight .column {
  margin-top: 52px;
  margin-bottom: 1px;
}