identifier: de.padarom.greatplugin
name: Great-Plugin
description: This is a great plugin that can do a lot of things.
homepage: plugin.de
version: 1.0.0

authors:
  -
    name: Christopher Mühl
    mail: cmuehl@unitybox.de
    homepage: padarom.de
  -
    name: Ben Stiller
    mail: ben@stiller.com
    homepage: stiller.com

dependencies:
  -
    identifier: com.example.plugin
    version: 1.0.*
  -
    identifier: com.example.system
    version: ^0.9